.category.transportation #discussion-question #header #subtitle {
    border-top: 1px solid #fff;
}

.category.transportation #discussion-question #header {
	background-image:url('header.png');
	background-color: rgb(154,61,168);
}