.category.hydro #discussion-question #header #subtitle {
    border-top: 1px solid #fff;
}

.category.hydro #discussion-question #header {
	background-image:url('header.png');
	background-color: rgb(64,133,198);
}