.category.fossil #discussion-question #header #subtitle {
    border-top: 1px solid #fff;
}

.category.fossil #discussion-question #header {
	background-image:url('header.png');
	background-color: rgb(123,105,209);
}