<form method="post" enctype="multipart/form-data" method="post">
  <label>Upload prior data csv: <input type="file" name="csv"/></label>

      <div id="action-buttons">
          <input type="submit" value="Upload Prior Data CSV" />
      </div>    
</form>
<h2>Current Prior Data</h2>
<ul>
  {{#each priorDatas}}
    <li>personID={{personID}}: {{priorData}}
  {{else}}
    <li>No prior data defined yet.</li>
  {{/each}}
</ul>
