
.widget.agree-disagree {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.widget.agree-disagree #statement {
    font-size: 120%;
    line-height: 1.1em;
    border: 1px solid rgb(230,230,240);
    background-color: rgb(245,245,250);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.widget.agree-disagree .radiobox {
    text-align: center;
    font-size: 110%;    
}

.widget.agree-disagree input[type='radio'] {
    margin-left: 20px;
}

.widget.agree-disagree label {
    margin-right: 20px;
}