.widget.custom-scripting {
    background-color: #19b5eb;
    color: white;
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Hide the "Qualify your answer", which is a sibling element of the widget in the DOM */
.widget.custom-scripting ~ .select-qualifications {
    display: none;
}

.widget.custom-scripting .script-editor {
  position: relative;
}

.widget.custom-scripting .CodeMirror {
  height: auto;
  border: 1px solid #ddd;
}

.widget.custom-scripting .CodeMirror-scroll { 
  /*max-height: 400px;*/
}

.widget.custom-scripting .CodeMirror pre { 
  padding-left: 7px; 
  line-height: 1.25; 
}