.widget.dropdown {
    margin-left: 50px; 
    margin-top: 0.5em; 
    margin-bottom: 1em;
}

.widget.dropdown .outline {
    border: 5px solid #19b4eb;
    border-radius: 5px;
    display: inline-block;
}

.widget.dropdown select {
    padding: 0;
    margin: 0;
    font-size: 24px;
    min-width: 250px;
}

.widget.dropdown ul {
    list-style-type: none;
    margin: 0;
}
.widget.dropdown li { font-size: 16px; font-weight: bold; }
.widget.dropdown li>* { font-size: 90%; }

.widget.dropdown .ui-button { margin-left: -1px; margin-top: -6px; }
.widget.dropdown	.ui-button-icon-only .ui-button-text { padding: 1.05em; } 
.widget.dropdown	.ui-autocomplete-input { margin: 0; padding: 0.45em 0 0.47em 0.45em; background: #f6f6f6; }    
.ui-autocomplete.ui-menu {
    font-size: 12px;
    text-align: left;   
}