.category.geothermal #discussion-question #header #subtitle {
    border-top: 1px solid #fff;
}

.category.geothermal #discussion-question #header {
	background-image:url('header.png');
	background-color: rgb(235,136,35);
}