.category.industry #discussion-question #header #subtitle {
    border-top: 1px solid #fff;
}

.category.industry #discussion-question #header {
	background-image:url('header.png');
	background-color: rgb(90,86,196);
}